# Results of the build
target/
lib_managed/
src_managed/
dist/*
*.class

# Results of the build of the build
project/boot/
/project/*-shim.sbt
/project/project/
project/plugins/project/

# Other
/RUNNING_PID
/logs/
.idea
.ensime
.ensime_cache/
