/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
.idea
/frontend/target/
/project/fairshare/frontend/project/project/
/project/fairshare/frontend/project/target/
/backend/target/
/project/fairshare/backend/project/project/
/project/fairshare/backend/project/target/
frontend/js/target/
